html.tiktok {
    --primary: #161617ff;
    --secondary: #74f0edff;
    --secondary-hover: #e34055ff;
    --secondary-opacity-half: #d63e52ff;
    --secondary-hover-opacity: #a63040ff;
    --secondary-disabled: #423f41cc;
    --titlebar: #141414;
    --backdrop: #0e0e0e;
    --scroll: #73898cff;
    --scroll-width: 12px;
    --scroll-radius: 8px;
    --logo: #ffffffff;
    --left: #000000ff;
    --left-queue: #000000ff;
    --left-icons: #ea445aff;
    --navigation: #141414;
    --navigation-text: #74f0edff;
    --navigation-select: #ffffff26;
    --border: #202020;
    --player: #0e0e0e;
    --player-darker: #0b0b0b;
    --player-slider: #ffffff26;
    --player-slider-progress: #ffffff52;
    --text: #c93a4dff;
    --small-text: #57b5b2ff;
    --song-performer: #74f0edff;
    --song-title: #ea445aff;
    --song-subtitle: #999999;
    --song-playing: #363636ff;
    --song-hover: #11111140;
    --item: #1a1a1a;
    --item-hover: #332f2fff;
    --item-disabled: #000000;
    --field: #1d1d1fff;
    --icons: #ea445aff;
    --icons-hover: #ffffffff;
    --icons-disabled: #000000ff;
    --no-cover: #ffffffff;
    --no-cover-background: #000000ff;
    --links: #929292;
    --links-active: #ea445aff;
    --links-hover: #74f0edff;
    --buttons-text: #000000ff;
    --tooltip: #211f1fff;
    --tooltip-text: #ea445aff;
    --settings-view: #141313ff;
    --switch-unchecked: #3d3d3dff;
    --skeleton-background: #121111ff;
    --skeleton-highlight: #222423ff
}